{% extends 'base.html' %} 
{% block title %}
  {{title}}
{% endblock %} 
{% block content %}
<article>
  <h1>
    {{group.title}}
  </h1>
  <p>
    {{description}}
  </p>
{% for post in page_obj %}
  <ul>
    <li>
      Группа: {{ post.group }}
    </li>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
{% if not forloop.last %}<hr>{% endif %}    
{% endfor %}
</article>
{% include 'posts/includes/paginator.html' %}
{% endblock %} 